:root {
  --color-almost-white: #e6e5ea;
  --color-very-dark-grey: #18171f;
  --primary-color: #a4ffaf;
  --surface-0: #24232c;
  --surface-1: #24232c;
  --text-color: var(--color-almost-white);
}

body {
  background-color: var(--surface-0);
  color: var(--text-color);
}
