:root {
  --primary-color: #a4ffaf;
  --surface-0: #24232c;
  --surface-1: #24232c;
  --text-color: #e6e5ea;
}

body {
  background-color: var(--surface-0);
  color: var(--text-color);
}

body * {
  font-weight: 700;
}
